.date {
	float: left;
	color: gray;
	font-size: 150%;
	width: 30px;
	font-family: 'Terminal Dosis Light', 'Agency FB', 'Arial Narrow';
	text-align: center;
	margin-right: 5px;
	line-height: 30px;
}

.tags {
	margin: 0;
	padding: 0;
	list-style: none;
	
	float: right;
	width: 30px;
	font-size: 150%;
	font-family: 'Terminal Dosis Light', 'Agency FB', 'Arial Narrow';
	text-align: center;
	margin-left: 5px;
	line-height: 30px;
	min-height: 30px;
}

.tags li {
	height: 40px;
	width: 40px;
	margin: -5px;
	margin-bottom: 0;
	color: gray;
	background: transparent no-repeat 50% 50%;
	text-indent: -9999px;
	/*
	border-radius: 5px;
	box-shadow: 0px 1px 2px gray;
	background: white;
	behavior: url(PIE.htc);*/
}

.tags li.software {
	background-image: url(images/code.png);
}
.tags li.electronics {
	background-image: url(images/chip.png);
}
.tags li.mechanics {
	background-image: url(images/cog.png);
}

.entry {
	overflow: hidden;
	padding-bottom: 5px;
}

.content {
	overflow: hidden;
	box-shadow: 0px 1px 2px gray;
	background: white;
	behavior: url(PIE.htc);
    border-radius: 5px;
}

.github {
	background: #c0c0c0 url(https://d3nwyuy0nl342s.cloudfront.net/images/modules/dashboard/news/site.png) no-repeat 50% 50%;
	float: right;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	display: block;
	border-radius: 2px;
	behavior: url(PIE.htc);
	margin-right: 5px;
}
.github:hover {
	background-color: #ffc080;
}

dl{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
dt {
	float: left;
	width: 50%;
	padding: 4px;
	clear: left;
	border-right: 1px solid #c0c0c0;
	margin: 0;
	margin-right: -1px;
}
dd {
	margin: 0;
	font-style: italic;
	border-left: 1px solid #c0c0c0;
	padding: 4px;
	behavior: url(PIE.htc);
	overflow: hidden;
}
.todo {
	line-height: 20px;
	border-top: 1px solid #c0c0c0;
	padding: 4px;
	background: #f0f0f0;
	behavior: url(PIE.htc);
    border-radius: 0px 0px 5px 5px;
}

.subheading {
	display: inline-block;
	font-family: 'Terminal Dosis Light';
	color: gray;
	margin-right: 1ex;
	height: 20px;
}