body {
	font-family: 'Ubuntu', 'Calibri', 'Arial';
	background: #e0e0e0;
	line-height: 20px;
	font-weight: 300;
	text-align: justify;
	margin: 0;
	padding: 0;
}

header, section, figure, figcaption { display: block; }

#wrapper {
	width: 90%;
	max-width: 1024px;
	min-width: 768px;
	margin: auto;
}

h1 {
	text-align: center;
	text-shadow: 0px 1px 2px gray;
	color: #404040;
	font-size: 200%;
	line-height: 30px;
	margin: 0;
	padding-top: 0px;
	margin-bottom: 5px;
	background: #c0c0c0;
	box-shadow: 0px 1px 2px gray;
	height: 5px;
	margin-bottom: 60px;
	behavior: url(PIE.htc);
}

h1 span {
	background: #c0c0c0;
	display: inline-block;
	padding: 5px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	position: relative;
	behavior: url(PIE.htc);
	box-shadow: 0px 1px 2px gray;
}
h1 span::after, h1 span::before {
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top:-5px;
	content: '';
	border-top: 10px solid #c0c0c0;
	box-shadow: inset 0px 1px 2px gray;
	background: #e0e0e0;
	background-clip: padding-box;
}
h1 span::after {
	border-right: 10px solid #c0c0c0;
	border-radius: 0px 20px 0px 0px;
	left: -20px;
	clip: rect(0px,1020px,20px,10px);
}
h1 span::before {
	border-left: 10px solid #c0c0c0;
	border-radius: 20px 0px 0px 0px;
	right: -20px;
	clip: rect(0px,20px,20px,10px);
}

h2 {
	font-family: 'Terminal Dosis Light', 'Agency FB', 'Arial Narrow';
	font-size: 300%;
	font-weight: inherit;
	line-height: 60px;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	color: #404040;
	border-bottom: 2px solid #404040;
}

figure {
	margin: 10px;
	margin-right: 0;
	float: right;
	padding: 5px;
	border-radius: 10px;
	background: #c0c0c0;
	behavior: url(PIE.htc);
	box-shadow: 0px 1px 2px gray;
	clear: right;

}

figure img {
	display: block;
	border-radius: 5px;
	width: 200px;
	background: white;
}

figure figcaption {
	text-align: center;
	margin-top: 5px;
}

section {
	overflow: hidden;
}

.columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	-webkit-column-rule: 1px solid #c0c0c0;
	-moz-column-count: 2;
	-moz-column-gap: 20px
	-moz-column-rule: 1px solid #c0c0c0;
}