body {
	font-family: 'Ubuntu', Arial;
	background: #e0e0e0;
	line-height: 20px;
	font-weight: 300;
	text-align: justify;
}

#wrapper {
	width: 90%;
	max-width: 1024px;
	min-width: 768px;
	margin: auto;
}

h1 {
	text-align: center;
	text-shadow: 0px 1px 2px gray;
	color: #404040;
	font-size: 200%;
	line-height: 60px;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}

h2 {
	font-family: 'Terminal Dosis Light';
	font-size: 300%;
	line-height: 60px;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	color: #404040;
	border-bottom: 2px solid #404040;
}